*{
    font-family: arial, verdana, sans-serif;
    background-image: radial-gradient( circle 860px at 14.7% 28.8%,  rgba(255,121,42,1) 0%, rgba(250,234,105,1) 83.2% );}
.corps1{
    margin-left: 50px;
}
h1{
    color: #aa3322;
    font-size: 20px;
}
h2{
    color: #000000;
    font-size: 24px;
}
h3, h4{
    color: #000000;
    font-size: 18px;
}
ul{
    background-color:#aa3322;
    margin-bottom: 0px;
    width: 1283; 
    list-style-type: none;
}

li a{
    text-decoration: none;
    color: rgb(204, 204, 204);
    border-bottom: 1px dotted #cccccc;
    font-size: 12px;
    display: block;
}
a:hover{
    color: #721717;
}

table{
    border-collapse: collapse;
}
td, th{
    border: 1px solid #aa3322;
    color: black;
    padding: 10px;
}
 tr th{
    font-size: 14px;
}
 tr td{
    font-size: 12px;
}

blockquote{
    background-color: rgb(237, 237, 237);
    border: 1px dotted #aa3322;
    color: black;
    font-size: 16px;
    width: 450px;
    margin-left: 90px;
    padding: 20px;
}
footer{
    background-color: #aaaaaa;
    text-align: center;
    font-size: 14px;
    color: #721717;
    padding: 10px;
    width: 100%;
    margin-top: 100px;
}
.img1{
    padding-right: 20px;v     
}
.para1{
    padding-bottom: 20px;
}
.bandeau{
    width: 100%;
}
h2 + p{
    margin-top: 20px;
    margin-bottom: 20px;
}